@import "variables";

body {
  font-family: $main-font;
  color: $gray1;
  // background-image: url('/assets/bg.png');
  background-size: cover;
}

#chat {
  #channelList {
    background: white;
    border: 1px solid $gray1;
    border-radius: 3px;
    position: fixed;
    bottom: 0;
    right: 20px;
    border-bottom: none;
    width: 200px;
    #listLabel {
      cursor: pointer;
      display: flex;
      align-items: center;
      height: 30px;
      i {
        margin: 0px 5px;
      }
    }
    #userSearchArea {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid $gray3;
      border-left: none;
      border-right: none;
      i {
        margin: 0px 5px;
      }
      input, input:focus {
        flex-grow: 3;
        outline: none;
        border: none;
      }
    }
    #list {
      display: block;
      .on, .off {
        width: 10px;
        height: 10px;
        border-radius: 5px;
      }
      .on {
        background: $green1;
      }
      .off {
        background: $red1;
      }
      .user {
        cursor: pointer;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:hover {
          background: $orange1;
          color: $gray6;
        }
      }
    }
  }
  #channels {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    right: 220px;
    .channel {
      background: white;
      width: 200px;
      flex-shrink: 0;
      margin-right: 18px;
      border: 1px solid $gray1;
      border-radius: 3px;
      border-bottom: none;
      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 2px 2px 0px 0px;
        background: $gray1;
        color: white;
        .name {
          flex-grow: 5;
          cursor: pointer;
          padding: 5px 7px;
        }
        i {
          padding: 5px;
          font-size: 16px;
          &:hover {
            color: $orange1;
            cursor: pointer;
          }
        }
      }
      .messages {
        height: 300px;
        overflow: auto;
        border-bottom: 1px solid $gray1;
        .message {
          padding: 5px;
          margin: 2px;
          max-width: 75%;
          word-wrap: break-word;
          border-radius: 5px;
          clear: both;
        }
        .me {
          background: $orange1;
          color: $gray6;
          float: right;
        }
        .other {
          background: $gray4;
          float: left;
          color: $gray1;
        }
      }
      .messageInput {
        height: 25px;
        max-height: 100px;
        border: none;
        width: 100%;
        outline: none;
        resize: none;
      }
    }
  }
}
