@import 'variables';

$bar-height: 30px;

body {
    font-family: $main-font;
    margin: 0;
    color: $gray1;
}

.chat {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;

    .channel {
      width: 200px;
      margin-right: 18px;
      outline: 2px solid $gray1;
      border-bottom: none;

      .top {
        display: flex;
        justify-content: space-between;
        background: $gray6;
        b {
          cursor: pointer;
        }
      }

      .messages {
        height: 300px;
        overflow: auto;
        border-bottom: 2px solid $gray1;
        .message {
          padding: 5px;
          margin: 2px;
          border-radius: 5px;
          clear: both;
        }
        .me {
          background: $orange1;
          color: $gray6;
          float: right;
        }
        .other {
          background: $gray4;
          float: left;
          color: $gray1;
        }
      }

      .messageInput {
        height: 39px;
        border: none;
        width: 100%;
      }
    }

    .channelList {
        outline: 2px solid $gray1;
        border-bottom: none;
        width: 200px;
        margin-right: 20px;
        h4 {
          margin: 0;
          padding: 10px;
        }
        ul {
          display: none;
          list-style: none;
          padding: 0;
          li {
            cursor: pointer;
            padding: 10px;
            &:hover {
              background: $orange1;
              color: $gray6;
            }
          }
        }
        &:hover {
          ul {
            display: block;
          }
        }
    }
}
